/**************通用样式开始*************/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
img{
  border: 0;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.adaption{
	width: 95.6%;
	position: relative;
	float: right;
}
.head-top{
	color: white;
	text-align: center;
	font-weight: 100;
	font-size: 37px;
	margin-top: 65px;
	margin-bottom: 20px;
}
.head-underline{
	height: 1px;
	width: 85px;
	background: white;
	margin: 0 auto;
}
.bottom-underline{
	height: 1px;
	width: 85px;
	background: white;
	margin: 60px auto;
	clear: both;
}
/**************通用样式结束*************/

/**************nav开始*************/
/*body{
	background: red;
	height: 10000px;
}*/
#nav{
	background: #1D1D1D;
	position: fixed;
	z-index: 9999;
	color: white;
	height: 100%;
	width: 4.6%;
	min-width: 60px;
	top: 0;
	left: 0;
}
#nav .specil{
	margin-top: 26px;
	margin-bottom: 62px;
}
#nav ul li{
	margin-bottom: 28px;
}
#nav ul span{
	display: block;
	margin-left: 22px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
#nav ul span p{
	width: 80px;
	font-size: 14px;
	padding-left: 35px;
	cursor: pointer;
	display: none;
	color: white;
	filter: Alpha(opacity=0);
	opacity: 0;
}
#nav ul .list{
	height: 22px;
	width: 22px;
	background: url(../img/css.png) no-repeat 0 0;
}
#nav ul .home{
	background: url(../img/css.png) no-repeat 0 -46px;
}
#nav ul .about{
	background: url(../img/css.png) no-repeat 0 -75px;
}
#nav ul .work{
	background: url(../img/css.png) no-repeat 0 -102px;
}
#nav ul .blog{
	background: url(../img/css.png) no-repeat 0 -131px;
}
#nav ul .like{
	background: url(../img/css.png) no-repeat 0 -160px;
}
#nav ul .contact{
	background: url(../img/css.png) no-repeat 0 -189px;
}
/**************nav结束*************/


/**************bg开始*************/
#bg{
	position: fixed;
	z-index: -9999;
	right: 0;
	top: 0;
}
#bg img{
	width: 100%;
	height: 100%;
	min-height: 660px;
}
/**************bg结束*************/

/**************home开始*************/
#home{
	height: 670px;
	/*color: #333;*/
	color:white;
}
#home p{
	display: block;
	font-size: 40px;
	top: 246px;
	left: 187px;
	position: absolute;
}
#home h1{
	display: block;
	font-size: 50px;
	line-height: 80px;
	position: absolute;
	left: 185px;
	top: 288px;
}

/**************home结束*************/

/**************about开始*************/
#about{
	background: rgb(51,51,51);
	filter: Alpha(opacity=90);
	opacity: 0.9;
}
#about .introduce{
	filter: Alpha(opacity=100);
	opacity: 1;
	position: relative;
	margin-top: 80px;
	width: 100%;
}
#about .introduce-right{
	width: 38%;
	float: right;
}
#about .introduce-left{
	width: 62%;
	float: left;
}
#about .introduce-right img{
	margin-left: 80px;
	width: 185px;
	height: 185px;
	margin-top: 15px;
}
#about .introduce-left div{
	width: 680px;
	float: right;
	margin-right: 10px;
}
#about .introduce-left h2{
	color: white;
	font-weight: 800;
	font-size: 40px;
	margin-bottom: 10px;
}
#about .introduce-left p{
	color: white;
	width: 680px;
	font-weight: 200;
	font-size: 18px;
	line-height: 30px;
}
#about .introduce-left p strong{
	font-weight: 100;
	font-size: 22px;
}
#about .skill{
	width: 995px;
	height: 161px;
	margin: 0 auto;
	clear: both;
}
#about .skill-block{
	margin-top: 70px;
	width: 130px;
	float: left;
	margin-right: 43px;
}
#about .skill-block img{
	width: 130px;
	height: 130px;
}
#about .skill-block p{
	font-weight: 100;
	font-size: 22px;
	color: white;
	text-align: center;
}
#about .knowmore{
	clear: both;
	width: 100%;
	padding-top: 70px;
}
#about .knowmore button{
	width: 130px;
	height: 47px;
	background: white;
	border: none;
	color: #0a85c7;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	margin: 0px auto;
}
/**************about结束*************/

/**************portfolio开始*************/
#portfolio{
	background: #097ECB;
}
#portfolio .work{
	width: 980px;
	margin: 30px auto;
	margin-bottom: 100px;
}
#portfolio .work-block{
	width: 300px;
	height: 300px;
	position: relative;
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
	background: #0875BD;
}
#portfolio .work-block .show-img{
	width: 260px;
	height: 165px;
	overflow: hidden;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
}
#portfolio .work-block .show-mask{
	width: 260px;
	height: 165px;
	position: absolute;
	cursor: pointer;
	top: 20px;
	left: 20px;
	opacity: 0;
	filter: Alpha(opacity=0);
	z-index: 2;
}
#portfolio .work-block .show-img img{
	width: 260px;
}
#portfolio .work-block .show-text{
	width: 260px;
	margin: 0 auto;
	margin-top: 195px;
}
#portfolio .work-block h5{
	color: white;
	font-weight: 500;
	font-size: 17px;
}
#portfolio .work-block p{
	display: block;
	color: white;
	margin-top: 10px;
	font-size: 15px;
	font-weight: 100;
}
/**************portfolio结束*************/

/**************por-details开始*************/
#por-details{
	width: 100%;
	height: 100%;
	position: fixed;
	background: white;
	z-index: 99999;
	overflow:scroll;
	display: none;
	opacity: 1;
	filter: Alpha(opacity=100);
}
#por-details .text p{
	color: black;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
}
#por-details .title{
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 200;
	background: #333333;
}

#por-details .title .title-close{
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 40px;
	background: #1D1D1D;
	color: white;
	float: right;
	cursor: pointer;
}
#por-details .body{
	width: 906px;
	margin: 0 auto;
	margin-top: 80px;
	clear: both;
}
#por-details .body img{
	width: 904px;
	display: block;
	border: 1px solid black;
	/*clear: both;*/
	/*margin-top: 100px;*/
	/*为什么清除浮动不好使？？*/
}
#por-details .text{
	width: 906px;
	padding-bottom: 30px;
	clear: both;
}
#por-details .text-details{
	width: 350px;
	float: left;
	margin-bottom: 20px;
}
#por-details .text-details div{
	border-bottom: 1px solid #ccc;
}
#por-details .text-content{
	display: block;
	width: 520px;
	font-size: 16px;
	font-weight: 500;
	float: right;
	margin-bottom: 20px;
}

/**************por-details结束*************/

/**************blog开始*************/
#blog{
	background: #F0F0F0;
}
#blog .head-top{
	color: black;
}
#blog .head-underline{
	background: black;
}
#blog .content{
	margin: 0 auto;						
	width: 1040px;
	padding-top: 10px;
}
#blog .content ul{
	float: left;
	margin-top: 40px;
	margin-right: 40px;
	width: 320px;
}
#blog .content .right{
	margin-right: 0px;
}
#blog .content ul li{
	margin-bottom: 20px;
	padding: 20px;
	background: white;
}
#blog .content ul li img{
	width: 280px;
	margin-bottom: 10px;
}
#blog .content ul li span{
	color: black;
	font-weight: 400;
}
#blog .content ul li p{
	width: 280px;
	color: #595959;
	font-weight: 350;
}
#blog .content ul li h3{
	width: 280px;
	color: #595959;
	font-weight: 800;
}
#blog .content ul li button{
	width: 126px;
	height: 50px;
	background: #64c9db;
	border:none;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 800;
	cursor: pointer;
	float: right;
}
#blog .content ul li div{
	width: 100%;
	height: 0;
	clear: both;
}
#blog .bottom{
	width: 100%;
	height: 95px;
	clear: both;
	padding-top: 35px;
}
#blog .bottom button{
	width: 126px;
	height: 50px;
	line-height: 50px;
	display: block;
	margin: 0 auto;
	background: #64c9db;
	border:none;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
}
/**************blog结束*************/

/**************like开始*************/
#like{
	overflow: hidden;
	background: white;
}
#like .title-top{
	width: 100%;
	position: absolute;
	top: 50px;
	z-index: 2;
}
#like .like-head-top{
	color: white;
	text-align: center;
	font-weight: 100;
	font-size: 37px;	
}
#like .like-head-underline{
	height: 1px;
	width: 85px;
	background: white;
	margin: 0 auto;
	margin-top: 20px;
}
#like .img{
	width: 400%;
	position: relative;
	left: 0;
}
#like .img img{
	width: 25%;
	vertical-align:bottom;
	display: block;
	float: left;
}
/**************like结束*************/

/**************contact开始*************/
#contact{
	background: #fff;
}
#contact .head-top{
	color: #000;
}
#contact .head-underline{
	background: #cccccc;
}
#contact .explain{
	margin-top: 20px;
	text-align: center;
	font-weight: 400;
	font-size: 17px;
	color: #888;
	line-height: 30px;
}
#contact form{
	display: block;
	width: 293px;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 70px;
}
#contact .form-row input{
	width: 273px;
	height: 43px;
	line-height: 43px;
	border: solid 1px #e5e5e5;
	padding: 0 10px;
	margin-bottom: 13px;
	background: #f8f8f8;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}
#contact .form-row textarea{
	width: 273px;
	max-width: 273px;
	border: solid 1px #e5e5e5;
	padding: 10px;
	margin-bottom: 13px;
	background: #f8f8f8;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}
#contact .form-submit input{
	width: 295px;
	height: 43px;
	background: #00b4ff;
	border: none;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}
#contact .contact-other{
	width: 100%;
	height: 80px;
	background: #333;
}
/*#contact .contact-other .container{
	height: 50px;
	width: 280px;
	margin: 0 auto;
	padding-top: 15px;
}
#contact .contact-other .container div{
	width: 50px;
	height: 50px;
	margin-right: 60px;
	float: left;
}
#contact .contact-other .container .wexin{
	background: url(../img/css.png) no-repeat -75px -76px;
}
#contact .contact-other .container .weibo{
	margin-right: 0;
}*/
/**************contact结束*************/

